node_modules

# Output
.output
.vercel
/.svelte-kit
/build
/cheveux
# OS
.DS_Store
Thumbs.db
package-lock.json
DB.sqlite
DB.sqlite-shm
DB.sqlite-wal
# Env
.env
.env.*
!.env.example
!.env.test

# Vite
vite.config.js.timestamp-*
vite.config.ts.timestamp-*

/uploaded